<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ahmedabad Wind Power Forecast</title>
  </head>
  <body>
    <h1>Ahmedabad Power Forecast</h1>
    <button onclick="predict()">Get Next Hour Forecast</button>
    <div id="result"></div>

    <script>
      function predict() {
        document.getElementById("result").innerHTML = `Loading....`;
        const input = {
          wind_input: [
            [12.2, 100],
            [12.5, 120], 
            [12.0, 130],
            [12.8, 125],
            [15.9, 128],
            [16.2, 135],
            [16.1, 132],
            [15.7, 122],
            [15.6, 120],
            [15.4, 118],
            [15.3, 115],
            [15.1, 110],
            [15.0, 105],
            [14.9, 100],
            [14.8, 95],
            [14.7, 90],
            [14.6, 85],
            [14.5, 80],
            [14.4, 75],
            [14.3, 70],
            [14.2, 65],
            [14.1, 60],
            [14.0, 55],
            [13.9, 50],
          ],
          irradiance: 150,
          temperature: 35,
          dewpoint: 18,
          humidity: 70,
          load_lag_24: 4800,
          hour: 19,
        };

        fetch("http://localhost:5000/predict", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(input),
        })
          .then((response) =>{ 
            return response.json();
          })
          .then((data) => {
            document.getElementById("result").innerHTML = `
                    Wind Power: ${data.wind_power} MW <br>
                    Electric Load: ${data.electric_load} MW
                `;
          }).catch(err=> {
            console.error("Error: ", error);
            document.getElementById("result").innerHTML = "Prediction failed!";
          });
      }
    </script>
  </body>
</html>
